<% if ((rf.get(Formbuilder.options.mappings.LINKS) || []).length > 0) { %>
<div class="fb-links">
    <div class="fb-links-title">Links:</div>
    <ul>
        <% for (i in (rf.get(Formbuilder.options.mappings.LINKS) || [])) { %>
        <li>
            <% if((rf.get(Formbuilder.options.mappings.LINKS)[i].label || '').trim().indexOf('http') === 0) { %>
            <a href="<%= rf.get(Formbuilder.options.mappings.LINKS)[i].label %>">
            <% } %>
                <%= rf.get(Formbuilder.options.mappings.LINKS)[i].label %>
            <% if((rf.get(Formbuilder.options.mappings.LINKS)[i].label || '').trim().indexOf('http') === 0) { %>
            </a>
            <% } %>
        </li>
        <% } %>
    </ul>
</div>
<% } %>