<label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.REQUIRED %>' />
    <%= Formbuilder.i18n('REQUIRED') %>
</label>
<label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.ATTACHMENT %>' />
    <%= Formbuilder.i18n('ADD_ATTACHMENT') %>
</label>
<label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.COMMENTS %>' />
    <%= Formbuilder.i18n('ADD_COMMENTS') %>
</label>
<label>
    <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.WITH_LINKS %>' />
    <%= Formbuilder.i18n('WITH_LINKS') %>
</label>
